<html>
<head>
    <meta charset="UTF-8">
    <title>FE535 - Homework 2</title>
    <style type="text/css">
        .bs-example {
            margin: 20px;
        }
    </style>

    {% if title %}
        <title>{{ title }} - FE535</title>
    {% else %}
    {% endif %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class=flashes>
                {% for message in messages %}
                    <li>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
    {% block body %}{% endblock %}

</head>
<body>
<div>FE535: <a href="/">Homework 2</a> |
    <a href="/blackformula">Black Formula calculator (example 1)</a> |
    <a href="/volatility">Implied volatility calculator  (example 2)</a> |
</div>
<hr>
{% block content %}{% endblock %}
</body>
</html>
<head>
</head>

<script>
    function clear() {
        document.getElementById("myForm").reset();
    }
</script>